Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2024-11, with the labels that each got.

#76 updates to secured associated resources
  articles/machine-learning/how-to-managed-network.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#77 Update whats-new.md
  articles/ai-services/openai/whats-new.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#78 Update search-get-started-rag.md
  articles/search/search-get-started-rag.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#72 Evaluate function `evaluator_config` reverses evaluator name and `column_mapping`
  articles/ai-studio/how-to/develop/evaluate-sdk.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#82 Update concept-compute-target.md
  articles/machine-learning/concept-compute-target.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, compute/subsvc

#83 Update how-to-create-compute-instance.md
  articles/machine-learning/how-to-create-compute-instance.md
Labels: aq-pr-triaged, do-not-merge, azure-machine-learning/svc, Change sent to author, compute/subsvc

#81 Update how-to-manage-compute-instance.md
  articles/machine-learning/how-to-manage-compute-instance.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, compute/subsvc

#62 docs: Provide alternative login option to Azure CLI
  articles/ai-studio/includes/install-cli.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#87 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#89 Added missing role assignment for AI Studio Project
  articles/ai-services/openai/how-to/use-your-data-securely.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#91 Update search-region-support.md
  articles/search/search-region-support.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#97 Update how-to-track-experiments-mlflow.md
  articles/machine-learning/how-to-track-experiments-mlflow.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#98 updates to serverless spark compute note
  articles/machine-learning/how-to-managed-network.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#100 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#99 Update search-region-support.md
  articles/search/search-region-support.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#103 Fix markdown links
  articles/ai-services/openai/includes/api-versions/latest-inference-preview.md
  articles/ai-services/openai/includes/api-versions/latest-inference.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#93 Update `QAEvaluator` to indicate ground truth is required
  articles/ai-studio/how-to/develop/evaluate-sdk.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#105 Update read to include image support in searchable pdf
  articles/ai-services/document-intelligence/prebuilt/read.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-document-intelligence/svc

#109 Update search-how-to-index-sql-database.md
  articles/search/search-how-to-index-sql-database.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#104 Update overview.md to use the right link for face recognition
  articles/ai-services/content-understanding/video/overview.md
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure/svc
