Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2024-12, with the labels that each got.

#116 Update search-indexer-troubleshooting.md
  articles/search/search-indexer-troubleshooting.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#117 Minor writing updates to weights-and-biases-integration.md
  articles/ai-services/openai/how-to/weights-and-biases-integration.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-openai/svc

#131 Updating simulator snippets
  articles/ai-studio/how-to/develop/simulator-interaction-data.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#120 Update language param to use SupportedLanguages enum
  articles/ai-studio/how-to/develop/simulator-interaction-data.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#138 Update dataset-clinvar-annotations.md
  articles/open-datasets/dataset-clinvar-annotations.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-open-datasets/svc

#139 Improve verbiage consistency in fine-tuning-considerations.md
  articles/ai-services/openai/concepts/fine-tuning-considerations.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#140 Update fine-tuning.md
  articles/ai-services/openai/how-to/fine-tuning.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#141 Update overview.md to format the Face Grouping feature requirement
  articles/ai-services/content-understanding/video/overview.md
Labels: ready-to-merge, needs-human-review, Change sent to author, azure-ai-content-understanding/svc

#142 Update use-your-own-resources.md
  articles/ai-services/agents/how-to/use-your-own-resources.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure/svc

#145 Update quickstart-python-openai.md
  articles/ai-services/agents/includes/quickstart-python-openai.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure/svc

#146 Update quickstart-python.md: Python 3.8
  articles/ai-services/agents/includes/quickstart-python.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure/svc

#147 Update quickstart-python-openai.md: Python 3.8
  articles/ai-services/agents/includes/quickstart-python-openai.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure/svc

#129 Update evaluate-sdk.md
  articles/ai-studio/how-to/develop/evaluate-sdk.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#152 Update the doc regarding mlflow log metrics async sample
  articles/machine-learning/how-to-log-view-metrics.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc
