Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2024-10, with the labels that each got.

#34 Search Index Create - typo fix
  articles/search/search-how-to-create-search-index.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, cognitive-search/svc

#35 Update secure-data-playground.md
  articles/ai-studio/how-to/secure-data-playground.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#40 Update search-create-service-portal.md
  articles/search/search-create-service-portal.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, cognitive-search/svc

#41 Correct broken link in articles/ai-studio/tutorials/deploy-chat-web-app.md
  articles/ai-studio/tutorials/deploy-chat-web-app.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#45 Update groundedness.md
  articles/ai-services/content-safety/concepts/groundedness.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-content-safety/svc

#46 Update llm-tool.md
  articles/machine-learning/prompt-flow/tools-reference/llm-tool.md
Labels: do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, prompt-flow/subsvc

#44 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#47 Update v3-1-migration-guide.md
  articles/ai-services/document-intelligence/versioning/v3-1-migration-guide.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-document-intelligence/svc

#4 Improve readability
  articles/ai-services/language-service/question-answering/tutorials/active-learning.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-language/svc

#49 Update provisioned-throughput.md
  articles/ai-services/openai/concepts/provisioned-throughput.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#52 Add missing AML CLI v2 release notes
  articles/machine-learning/azure-machine-learning-release-notes-cli-v2.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#57 Typo in chatgpt-studio.md
  articles/ai-services/openai/includes/chatgpt-studio.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#59 add amlarc extension relese note
  articles/machine-learning/reference-kubernetes.md
Labels: ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#56 Update monitor-openai-reference.md
  articles/ai-services/openai/monitor-openai-reference.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-openai/svc

#63 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#36 New speech models update for multiple locales
  articles/ai-services/speech-service/includes/release-notes/release-notes-stt.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-speech/svc

#70 editorial fix
  articles/ai-services/language-service/language-detection/includes/development-options.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-language/svc

#64 Updated model-id to reflect the ID accepted by the service.
  articles/ai-services/document-intelligence/model-overview.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-document-intelligence/svc

#71 (AzureCXP) fixes MicrosoftDocs/azure-docs#322292
  articles/ai-services/openai/includes/use-your-data-rest.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#21 Correct Python import statement in text-sdk-overview.md
  articles/ai-services/translator/text-sdk-overview.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-translator/svc

#73 Update access-on-premises-resources.md
  articles/ai-studio/how-to/access-on-premises-resources.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#75 Fix typo on search-pagination-page-layout.md
  articles/search/search-pagination-page-layout.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc
