Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2024-09, with the labels that each got.

#5 (AzureCXP) fixes MicrosoftDocs/azure-docs#302571
  articles/ai-services/openai/concepts/content-filter.md
Labels: do-not-merge, Change sent to author, azure-ai-openai/svc

#8 Update quickstart-jailbreak.md
  articles/ai-services/content-safety/quickstart-jailbreak.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-content-safety/svc

#7 Update quickstart-protected-material.md
  articles/ai-services/content-safety/quickstart-protected-material.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-content-safety/svc

#6 fixing cli command for the name param
  articles/machine-learning/how-to-deploy-online-endpoints.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, inferencing/subsvc

#10 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, cognitive-search/svc

#11 (AzureCXP) fixes MicrosoftDocs/azure-docs#302325
  articles/ai-services/openai/api-version-deprecation.md
Labels: ready-to-merge, Change sent to author, azure-ai-openai/svc

#14 (AzureCXP) fixes MicrosoftDocs/azure-docs#303689
  articles/machine-learning/how-to-access-azureml-behind-firewall.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#19 Update reference-model-inference-api.md
  articles/ai-studio/reference/reference-model-inference-api.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#20 Updating both JSON-mode and Structured output with unsupported scenarios
  articles/ai-services/openai/how-to/json-mode.md
  articles/ai-services/openai/how-to/structured-outputs.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#22 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, cognitive-search/svc

#17 Update image-analysis-curl-quickstart-40.md to fix bug
  articles/ai-services/computer-vision/includes/image-analysis-curl-quickstart-40.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-vision/svc

#23 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, cognitive-search/svc

#28 Update use-your-data.md
  articles/ai-services/openai/concepts/use-your-data.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#33 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, cognitive-search/svc

#32 Update Kubernetes extension troubleshooting guide
  articles/machine-learning/how-to-troubleshoot-kubernetes-extension.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#27 Fixed naming for GitHub Action docs
  articles/machine-learning/how-to-setup-mlops-github-azure-ml.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc
