Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-06, with the labels that each got.

#420 Update how-to-identity-based-service-authentication.md
  articles/machine-learning/how-to-identity-based-service-authentication.md
Labels: ready-to-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#417 Fix typo: requestor -> requester
  articles/search/search-filters.md
  articles/search/search-security-rbac.md
Labels: ready-to-merge, Change sent to author, azure-ai-search/svc

#422 Update how-to-managed-network.md
  articles/machine-learning/how-to-managed-network.md
Labels: ready-to-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#421 Update configure-managed-network.md
  articles/ai-foundry/how-to/configure-managed-network.md
Labels: ready-to-merge, Change sent to author, azure-ai-foundry/svc

#425 Update virtual-networks.md
  articles/ai-services/agents/how-to/virtual-networks.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#363 Update bing-grounding.md
  articles/ai-services/agents/how-to/tools/bing-grounding.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#424 Update virtual-networks.md
  articles/ai-services/agents/how-to/virtual-networks.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-agent-service/svc

#428 Fix typo: specif time -> specific time
  articles/machine-learning/v1/how-to-monitor-datasets.md
Labels: do-not-merge, azure-machine-learning/svc, Change sent to author, mldata/subsvc

#426 Fix typo: build-in -> built-in
  articles/machine-learning/feature-retrieval-concepts.md
  articles/machine-learning/troubleshooting-managed-feature-store.md
Labels: do-not-merge, azure-machine-learning/svc, Change sent to author, mldata/subsvc

#432 Clarified how customers can check logic apps
  articles/machine-learning/how-to-schedule-pipeline-job.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#393 Possible error in evaluator pass / fail condition
  articles/ai-foundry/concepts/evaluation-evaluators/agent-evaluators.md
  articles/ai-foundry/concepts/evaluation-evaluators/general-purpose-evaluators.md
  articles/ai-foundry/concepts/evaluation-evaluators/rag-evaluators.md
  articles/ai-foundry/concepts/evaluation-evaluators/textual-similarity-evaluators.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-foundry/svc

#433 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#434 Update search-region-support.md
  articles/search/search-region-support.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#436 Update how-to-managed-network.md
  articles/machine-learning/how-to-managed-network.md
Labels: aq-pr-triaged, do-not-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#437 Fixed a syntax error in the python sample
  articles/ai-services/speech-service/includes/quickstarts/voice-live-api/realtime-python.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-openai/svc

#440 Fix typo: homogenous -> homogeneous
  articles/search/index-add-scoring-profiles.md
  articles/search/vector-search-how-to-assign-narrow-data-types.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#453 Fix typo: Retreive -> Retrieve
  articles/machine-learning/v1/how-to-move-data-in-out-of-pipelines.md
Labels: do-not-merge, azure-machine-learning/svc, Change sent to author, mldata/subsvc

#456 Update how-to-use-batch-pipeline-deployments.md
  articles/machine-learning/how-to-use-batch-pipeline-deployments.md
Labels: do-not-merge, azure-machine-learning/svc, Change sent to author, inferencing/subsvc

#448 Update quickstart-python.md
  articles/ai-foundry/agents/includes/quickstart-python.md
Labels: review-in-progress, aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#443 Update search-region-support.md
  articles/search/search-region-support.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-search/svc
