Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-07, with the labels that each got.

#445 Update faq.yml
  articles/ai-foundry/agents/faq.yml
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-ai-agent-service/svc

#446 Update virtual-networks.md
  articles/ai-foundry/agents/how-to/virtual-networks.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#468 Fix links for "Work with Azure AI Foundry Agent Service in Visual Studio Code" page
  articles/ai-foundry/how-to/develop/vs-code-agents.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-foundry/svc

#474 Fix typo: withing -> within
  articles/ai-services/speech-service/bring-your-own-storage-speech-resource.md
Labels: do-not-merge, Change sent to author, azure-ai-speech/svc

#330 Added mandatory role detail to be able to do this quickstart tutorial
  articles/ai-services/language-service/custom-text-classification/includes/quickstarts/language-studio.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-language/svc

#481 Update model-lifecycle.md for Language service
  articles/ai-services/language-service/concepts/model-lifecycle.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-language/svc

#482 Fix typo: wit -> with
  articles/ai-services/document-intelligence/containers/install-run.md
Labels: do-not-merge, Change sent to author, azure-ai-document-intelligence/svc

#484 Code snippet updates
  articles/ai-foundry/includes/get-started-fdp.md
  articles/machine-learning/how-to-deploy-mlflow-models-online-endpoints.md
  articles/machine-learning/how-to-package-models-moe.md
  articles/machine-learning/how-to-package-models.md
  articles/machine-learning/how-to-use-batch-scoring-pipeline.md
Labels: do-not-merge, azure-machine-learning/svc, Change sent to author, inferencing/subsvc, docs-editor-pilot

#438 Correct grammar in Content Understanding Classifier docs
  articles/ai-services/content-understanding/concepts/classifier.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-content-understanding/svc

#487 Fix portal link in cognitive-search-attach-cognitive-services.md
  articles/search/cognitive-search-attach-cognitive-services.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#489 Update responses.md
  articles/ai-foundry/openai/how-to/responses.md
Labels: ready-to-merge, Change sent to author, azure-ai-openai/svc

#473 Document the regional requirements for the agents
  articles/ai-foundry/agents/how-to/virtual-networks.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#491 Update search-region-support.md
  articles/search/search-region-support.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#439 Fix missing credential parameter for evaluators
  articles/ai-foundry/concepts/evaluation-evaluators/risk-safety-evaluators.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-foundry/svc

#501 Update search-region-support.md
  articles/search/search-region-support.md
Labels: ready-to-merge, Change sent to author, azure-ai-search/svc

#454 Clarify Azure Function trigger support in agent integration
  articles/ai-foundry/agents/how-to/tools/azure-functions.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#507 (AzureCXP) fixes MicrosoftDocs/azure-ai-docs-pr
  articles/ai-services/document-intelligence/service-limits.md
Labels: do-not-merge, Change sent to author, azure-ai-document-intelligence/svc

#508 Fix typo (recieving → receiving)
  articles/ai-foundry/agents/concepts/threads-runs-messages.md
Labels: do-not-merge, Change sent to author, azure-ai-agent-service/svc

#492 Improving RBAC roles needed for running the quickstart end to end
  articles/ai-foundry/agents/includes/quickstart-foundry.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#475 Update bing-grounding.md
  articles/ai-foundry/agents/how-to/tools/bing-grounding.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc
