Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-08, with the labels that each got.

#461 Update how-to-secure-web-service.md
  articles/machine-learning/v1/how-to-secure-web-service.md
Labels: aq-pr-triaged, inactive, do-not-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#430 Update search-lucene-query-architecture.md
  articles/search/search-lucene-query-architecture.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-ai-search/svc

#514 Update model-retirements.md
  articles/ai-foundry/openai/concepts/model-retirements.md
Labels: ready-to-merge, Change sent to author, azure-ai-openai/svc

#517 adding a note for ip ranges
  articles/machine-learning/how-to-configure-private-link.md
Labels: do-not-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#516 Update AI Foundry account limit
  articles/ai-foundry/foundry-models/quotas-limits.md
Labels: aq-pr-triaged, do-not-merge, review-team-triage

#472 Update keyless-connections.md
  articles/search/keyless-connections.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-search/svc

#526 Update content-filter-protected-material.md
  articles/ai-foundry/openai/concepts/content-filter-protected-material.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-openai/svc

#532 Update East US region capacity issues
  articles/search/search-region-support.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#530 Fix subscription name formatting for model deployment
  articles/ai-foundry/how-to/deploy-models-serverless.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-foundry/svc
