Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-03, with the labels that each got.

#274 Update how-to-deploy-kubernetes-extension.md
  articles/machine-learning/how-to-deploy-kubernetes-extension.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#265 Enhance [JS Agents Quickstart]: Included steps to set up and execute the code, added missing config for dotenv
  articles/ai-services/agents/includes/quickstart-javascript.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-agent-service/svc

#168 Update custom-model.md neural model updates
  articles/ai-services/document-intelligence/train/custom-model.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-document-intelligence/svc

#278 Update keyless-connections.md SearchClient arg
  articles/search/keyless-connections.md
Labels: ready-to-merge, Change sent to author

#279 Correct page title
  articles/ai-services/agents/how-to/tools/azure-functions.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-agent-service/svc

#281 Update vector-search-how-to-create-index.md
  articles/search/vector-search-how-to-create-index.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-search/svc

#283 Deleted "Limited access" part of overview.md for o1 and o3-mini
  articles/ai-services/openai/overview.md
Labels: ready-to-merge, Change sent to author, azure-ai-openai/svc

#288 added security notice following JS guidelines on env variables
  articles/ai-services/agents/includes/quickstart-javascript.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-agent-service/svc

#284 Fix typo
  articles/ai-foundry/model-inference/concepts/models.md
  articles/ai-foundry/model-inference/how-to/quickstart-github-models.md
  articles/ai-services/language-service/key-phrase-extraction/includes/quickstarts/azure-ai-foundry.md
  articles/ai-services/language-service/language-detection/includes/quickstarts/azure-ai-foundry.md
  articles/ai-services/language-service/named-entity-recognition/includes/quickstarts/azure-ai-foundry.md
  articles/ai-services/language-service/personally-identifiable-information/includes/quickstarts/azure-ai-foundry.md
  articles/ai-services/language-service/sentiment-opinion-mining/includes/quickstarts/azure-ai-foundry.md
  articles/ai-services/language-service/summarization/includes/quickstarts/azure-ai-foundry.md
  articles/ai-services/language-service/text-analytics-for-health/includes/quickstarts/azure-ai-foundry.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-language/svc

#293 Removed unwanted br>
  articles/ai-services/openai/realtime-audio-reference.md
Labels: do-not-merge, Change sent to author, azure-ai-openai/svc

#264 fix typo in JSON
  articles/search/cognitive-search-skill-shaper.md
Labels: aq-pr-triaged, inactive, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#239 Update azure-machine-learning-ci-image-release-notes.md for Image Version: `24.12.31`
  articles/machine-learning/azure-machine-learning-ci-image-release-notes.md
  articles/machine-learning/data-science-virtual-machine/release-notes.md
  articles/machine-learning/how-to-migrate-from-v1.md
Labels: aq-pr-triaged, inactive, do-not-merge, azure-machine-learning/svc, Change sent to author, core/subsvc, azure-data-science-virtual-machines/svc

#298 Update Azure mL extension troubleshooting documentation
  articles/machine-learning/how-to-troubleshoot-kubernetes-extension.md
Labels: ready-to-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#302 Update release date for v1.26.0
  articles/machine-learning/azure-machine-learning-release-notes-cli-v2.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#299 Update monitor-openai.md
  articles/ai-services/openai/how-to/monitor-openai.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-openai/svc

#303 Fix typo
  articles/machine-learning/how-to-network-isolation-planning.md
  articles/machine-learning/includes/machine-learning-online-endpoint-troubleshooting.md
Labels: ready-to-merge, azure-machine-learning/svc, Change sent to author

#305 Update search-region-support.md
  articles/search/search-region-support.md
Labels: ready-to-merge, Change sent to author, azure-ai-search/svc

#307 Update search-region-support.md
  articles/search/search-region-support.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-search/svc

#102 Update azure-search.md
  articles/ai-services/openai/references/azure-search.md
Labels: aq-pr-triaged, inactive, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#306 add additional instructions for troubleshooting extension manager OOM kill issue
  articles/machine-learning/how-to-troubleshoot-kubernetes-extension.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#309 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-search/svc

#310 Update description for release name for extension operator OOM kill issue
  articles/machine-learning/how-to-troubleshoot-kubernetes-extension.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#247 Fix: example api version
  articles/ai-services/cognitive-services-data-loss-prevention.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-services/svc

#312 Update realtime-javascript.md
  articles/ai-services/openai/includes/realtime-javascript.md
  articles/ai-services/openai/includes/realtime-typescript.md
Labels: ready-to-merge, Change sent to author, azure-ai-openai/svc

#313 Fix the quotes in the JSON snippet in batch.md
  articles/ai-services/openai/how-to/batch.md
Labels: ready-to-merge, Change sent to author, azure-ai-openai/svc

#316 Fix indent of the Kubernetes Extension TSG
  articles/machine-learning/how-to-troubleshoot-kubernetes-extension.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#314 Update assistants-quickstart.md
  articles/ai-services/openai/assistants-quickstart.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-openai/svc

#315 Update assistants-ai-studio.md
  articles/ai-services/openai/includes/assistants-ai-studio.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-foundry/svc

#317 Setting correct parameter name for ImageContentItem (image -> image_url)
  articles/ai-foundry/model-inference/includes/use-chat-multi-modal/python.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-model-inference/svc

#319 Update how-to-deploy-online-endpoints.md
  articles/machine-learning/how-to-deploy-online-endpoints.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, inferencing/subsvc

#224 Update search-howto-managed-identities-cosmos-db.md
  articles/search/search-howto-managed-identities-cosmos-db.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#324 Typo fix
  articles/search/tutorial-rag-build-solution-query.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-search/svc

#236 Fix typo
  articles/ai-services/document-intelligence/how-to-guides/includes/v3-0/rest-api.md
  articles/ai-services/document-intelligence/how-to-guides/includes/v4-0/rest-api.md
  articles/ai-services/speech-service/includes/release-notes/release-notes-sdk.md
  articles/machine-learning/data-science-virtual-machine/release-notes.md
  articles/search/cognitive-search-how-to-debug-skillset.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#301 Fixing example to match current syntax
  articles/ai-services/openai/concepts/use-your-data.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-ai-openai/svc

#201 Update concept-prebuilt-docker-images-inference.md
  articles/machine-learning/concept-prebuilt-docker-images-inference.md
Labels: aq-pr-triaged, inactive, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, inferencing/subsvc

#320 Update limits-and-quotas.md
  articles/ai-services/custom-vision-service/limits-and-quotas.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-custom-vision/svc
