Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-01, with the labels that each got.

#159 Update search-get-started-portal-import-vectors.md
  articles/search/search-get-started-portal-import-vectors.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#160 Update concept-model-lifecycle-retirement.md (Typo "Azure Open AI"→"A…
  articles/machine-learning/concept-model-lifecycle-retirement.md
Labels: do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, inferencing/subsvc

#156 Update tutorial-rag-build-solution-pipeline.md
  articles/search/tutorial-rag-build-solution-pipeline.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#163 Release notes for Image Version 24.12.09
  articles/machine-learning/azure-machine-learning-ci-image-release-notes.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#164 Removing unnecessary code
  articles/search/tutorial-rag-build-solution-query.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#166 Update configure-managed-network.md
  articles/ai-studio/how-to/configure-managed-network.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#167 Update configure-private-link.md
  articles/ai-studio/how-to/configure-private-link.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#170 Removing "Preview" tag from Azure AI Foundry
  articles/ai-services/openai/includes/assistants-ai-studio.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#174 Update reference-migrate-sdk-v1-mlflow-tracking.md
  articles/machine-learning/reference-migrate-sdk-v1-mlflow-tracking.md
Labels: ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#173 Update reference-migrate-sdk-v1-mlflow-tracking.md
  articles/machine-learning/reference-migrate-sdk-v1-mlflow-tracking.md
Labels: ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#175 Fix typo in translator FAQ
  articles/ai-services/translator/translator-faq.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-translator/svc

#172 add information about enable/disable model monitor signal alerts
  articles/machine-learning/how-to-monitor-model-performance.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#176 Update search-region-support.md
  articles/search/search-region-support.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#177 add limitations on kubernetes compute target
  articles/machine-learning/how-to-attach-kubernetes-anywhere.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#182 Fix typo
  articles/ai-services/immersive-reader/reference.md
  articles/ai-services/personalizer/whats-new.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author

#183 Fix typo
  articles/machine-learning/component-reference/component-reference.md
  articles/machine-learning/component-reference/densenet.md
  articles/machine-learning/component-reference/toc.yml
  articles/machine-learning/concept-compute-target.md
  articles/machine-learning/how-to-convert-custom-model-to-mlflow.md
  articles/machine-learning/how-to-interactive-jobs.md
  articles/machine-learning/how-to-train-distributed-gpu.md
  articles/machine-learning/v1/how-to-deploy-model-designer.md
  articles/machine-learning/v1/how-to-train-distributed-gpu.md
Labels: do-not-merge, needs-human-review, azure-machine-learning/svc, Change sent to author, core/subsvc

#184 Fix typo
  articles/ai-studio/ai-services/how-to/quickstart-github-models.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#186 Fix typo for blob storage
  articles/ai-studio/how-to/flow-develop.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#187 Update search-howto-index-mysql.md (Typo "flexible server"→"Flexible …
  articles/search/search-howto-index-mysql.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#188 Update search-region-support.md
  articles/search/search-region-support.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#189 Update configure-managed-network.md
  articles/ai-studio/how-to/configure-managed-network.md
  articles/machine-learning/how-to-managed-network.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#190 Fix typo
  articles/search/search-get-started-text.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#191 Fix typo
  articles/ai-services/agents/how-to/tools/openapi-spec.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author

#194 Disassociation of ACR / App Insights not supported
  articles/ai-studio/how-to/create-azure-ai-resource.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#195 Fix typo
  articles/ai-services/immersive-reader/how-to-cache-token.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-immersive-reader/svc

#199 Update quickstart-ai-project.md
  articles/ai-foundry/model-inference/how-to/quickstart-ai-project.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-model-inference/svc

#198 update amlarc extension release note
  articles/machine-learning/reference-kubernetes.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#202 Update how-to-prevent-data-loss-exfiltration.md
  articles/machine-learning/how-to-prevent-data-loss-exfiltration.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc
