Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-05, with the labels that each got.

#365 wrong python import in EntraID example
  articles/ai-foundry/model-inference/includes/use-embeddings/python.md
Labels: do-not-merge, Change sent to author, azure-ai-model-inference/svc

#366 Fixed az command to enable dynamic throttling
  articles/ai-services/openai/how-to/dynamic-quota.md
Labels: ready-to-merge, Change sent to author, azure-ai-openai/svc

#292 [Typo] Change parameter used for abstractive summarisation payload
  articles/ai-services/language-service/summarization/how-to/text-summarization.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-language/svc

#338 Update dsvm-ubuntu-intro.md
  articles/machine-learning/data-science-virtual-machine/dsvm-ubuntu-intro.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, azure-data-science-virtual-machines/svc

#368 Update search-region-support.md
  articles/search/search-region-support.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-search/svc

#371 Update ml extension release notes for 2.36 and 2.37.0 releases
  articles/machine-learning/azure-machine-learning-release-notes-cli-v2.md
Labels: do-not-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#369 Update regional-support.md
  articles/ai-services/language-service/concepts/regional-support.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-language/svc

#376 Fix typo: withe -> with
  articles/search/search-security-rbac.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-search/svc

#378 Update reference-managed-online-endpoints-vm-sku-list.md
  articles/machine-learning/reference-managed-online-endpoints-vm-sku-list.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#269 Update cognitive-services-data-loss-prevention.md
  articles/ai-services/cognitive-services-data-loss-prevention.md
Labels: missed-content-complete, event-triaged-to-10AM, aq-pr-triaged, do-not-merge, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-services/svc

#381 Fix typo: manged -> managed
  articles/machine-learning/how-to-import-data-assets.md
  articles/machine-learning/how-to-managed-network-compute.md
  articles/machine-learning/how-to-managed-network.md
  articles/search/cognitive-search-custom-skill-web-api.md
  articles/search/cognitive-search-skill-azure-openai-embedding.md
  articles/search/vector-search-vectorizer-ai-services-vision.md
  articles/search/vector-search-vectorizer-azure-open-ai.md
  articles/search/vector-search-vectorizer-custom-web-api.md
Labels: ready-to-merge, Change sent to author, enterprise-readiness/subsvc, azure-ai-search/svc

#380 Fixed broken link for GBS Python sample
  articles/ai-services/agents/how-to/tools/bing-code-samples.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#359 apply FromsEnpoint api in speech-to-text-basics c# sample code
  articles/ai-services/speech-service/includes/quickstarts/speech-to-text-basics/csharp.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-speech/svc

#383 Update search-region-support.md
  articles/search/search-region-support.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#384 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#385 Update bing-code-samples.md
  articles/ai-services/agents/how-to/tools/bing-code-samples.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#386 Update fabric.md
  articles/ai-services/agents/how-to/tools/fabric.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#388 Update bing-custom-search-samples.md
  articles/ai-services/agents/how-to/tools/bing-custom-search-samples.md
Labels: ready-to-merge, Change sent to author, azure-ai-agent-service/svc

#387 Update how-to-assign-roles.md
  articles/machine-learning/how-to-assign-roles.md
Labels: aq-pr-triaged, do-not-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#396 Fix typo: programatically -> programmatically
  articles/ai-services/agents/how-to/tools/bing-grounding.md
  articles/ai-services/agents/how-to/tools/code-interpreter-samples.md
  articles/ai-services/agents/how-to/tools/fabric.md
  articles/ai-services/openai/includes/batch/batch-python.md
  articles/ai-services/openai/includes/batch/batch-rest.md
  articles/machine-learning/how-to-use-mlflow-cli-runs.md
  articles/machine-learning/v1/concept-azure-machine-learning-architecture.md
  articles/machine-learning/v1/how-to-designer-import-data.md
  articles/search/includes/quickstarts/full-text-javascript.md
  articles/search/includes/quickstarts/full-text-typescript.md
Labels: ready-to-merge, Change sent to author, azure-ai-search/svc, mldata/subsvc

#401 Update responses.md
  articles/ai-services/openai/how-to/responses.md
Labels: do-not-merge, Change sent to author, azure-ai-openai/svc

#398 Fix broken links in Language overview.md
  articles/ai-services/language-service/overview.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-language/svc

#377 Fix formatting and add authentication section
  articles/ai-services/openai/references/elasticsearch.md
Labels: aq-pr-triaged, inactive, ready-to-merge, Change sent to author, azure-ai-openai/svc

#403 Update search-agentic-retrieval-how-to-create.md
  articles/search/search-agentic-retrieval-how-to-create.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-search/svc

#406 Update virtual-networks.md
  articles/ai-services/agents/how-to/virtual-networks.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-agent-service/svc
