Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-09, with the labels that each got.

#539 Add URL specification requirements for sending requests to the private endpoint
  articles/ai-services/cognitive-services-virtual-networks.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-services/svc

#540 No Support for Private MCP servers for Azure AI Foudnry agents in net…
  articles/ai-foundry/agents/how-to/tools/model-context-protocol.md
  articles/ai-foundry/agents/how-to/virtual-networks.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-ai-agent-service/svc

#551 Change model reasoning effort from high to medium
  articles/ai-foundry/openai/how-to/codex.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-openai/svc

#556 Update train-model.md
  articles/machine-learning/component-reference/train-model.md
Labels: do-not-merge, azure-machine-learning/svc, Change sent to author, core/subsvc
