Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-02, with the labels that each got.

#204 Fix typo
  articles/machine-learning/how-to-access-terminal.md
Labels: do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, compute/subsvc

#203 Fix typo
  articles/ai-services/computer-vision/spatial-analysis-container.md
  articles/ai-services/content-safety/how-to/containers/install-run-container.md
  articles/ai-services/language-service/summarization/how-to/use-containers.md
  articles/ai-studio/how-to/deploy-models-mistral-nemo.md
  articles/machine-learning/azure-machine-learning-ci-image-release-notes.md
  articles/machine-learning/concept-model-catalog.md
  articles/machine-learning/concept-onnx.md
  articles/machine-learning/data-science-virtual-machine/overview.md
  articles/machine-learning/data-science-virtual-machine/release-notes.md
  articles/machine-learning/how-to-deploy-models-mistral.md
  articles/machine-learning/how-to-troubleshoot-environments.md
  articles/machine-learning/overview-what-is-azure-machine-learning.md
  articles/machine-learning/reference-checkpoint-performance-for-large-models.md
  articles/machine-learning/reference-yaml-deployment-kubernetes-online.md
Labels: ready-to-merge, needs-human-review, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#205 Fixing credentials in datastore
  articles/machine-learning/how-to-datastore.md
Labels: do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mldata/subsvc

#206 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#210 Update configure-private-link.md
  articles/ai-studio/how-to/configure-private-link.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#208 Fix typo
  articles/machine-learning/concept-train-model-git-integration.md
Labels: ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#185 Fix typo
  articles/ai-services/computer-vision/faq.yml
  articles/ai-services/content-safety/faq.yml
  articles/ai-services/custom-vision-service/faq.yml
  articles/ai-services/translator/translator-faq.md
Labels: aq-pr-triaged, inactive, do-not-merge, needs-human-review, Change sent to author, azure-ai-translator/svc

#207 Fix typo
  articles/ai-services/custom-vision-service/custom-vision-onnx-windows-ml.md
  articles/ai-services/custom-vision-service/export-model-python.md
  articles/ai-services/custom-vision-service/export-programmatically.md
  articles/ai-studio/how-to/configure-managed-network.md
  articles/machine-learning/azure-machine-learning-ci-image-release-notes.md
  articles/machine-learning/concept-compute-target.md
  articles/machine-learning/data-science-virtual-machine/how-to-track-experiments.md
  articles/machine-learning/how-to-train-distributed-gpu.md
  articles/machine-learning/includes/machine-learning-public-internet-access.md
  articles/machine-learning/includes/recommended-network-outbound.md
  articles/machine-learning/v1/how-to-deploy-inferencing-gpus.md
  articles/machine-learning/v1/how-to-deploy-mlflow-models.md
Labels: do-not-merge, needs-human-review, azure-machine-learning/svc, Change sent to author, core/subsvc

#215 Update how-to-managed-network.md
  articles/machine-learning/how-to-managed-network.md
Labels: ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#214 Fix typo
  articles/machine-learning/how-to-access-azureml-behind-firewall.md
Labels: ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#213 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#212 Update search-region-support.md
  articles/search/search-region-support.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#196 Update how-to-manage-compute-instance.md
  articles/machine-learning/how-to-manage-compute-instance.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, compute/subsvc

#197 Update how-to-create-attach-compute-cluster.md
  articles/machine-learning/how-to-create-attach-compute-cluster.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, compute/subsvc

#220 Fix typo
  articles/ai-services/immersive-reader/tutorial-ios-picture-immersive-reader.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-immersive-reader/svc

#217 We re-enabled gpt-4o. Drop disclaimer.
  articles/ai-services/openai/how-to/fine-tuning.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#165 Updating AI Completion Quick Start based on the updated demo code
  articles/ai-services/openai/includes/spring.md
Labels: aq-pr-triaged, inactive, do-not-merge, needs-human-review, Change sent to author, azure-ai-openai/svc

#223 Revert "Updating AI Completion Quick Start based on the updated demo code"
  articles/ai-services/openai/includes/spring.md
Labels: do-not-merge, needs-human-review, Change sent to author, azure-ai-openai/svc

#225 PE as a pre-requisite for disabling Public IP
  articles/ai-studio/how-to/configure-managed-network.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-foundry/svc

#148 Fix synchronous translation code sample error.
  articles/ai-services/translator/document-translation/quickstarts/includes/sdk/python.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-translator/svc

#133 Update csharp-sdk.md
  articles/ai-services/document-intelligence/quickstarts/includes/csharp-sdk.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-document-intelligence/svc

#230 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#231 Update search-region-support.md
  articles/search/search-region-support.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#235 Fix typo
  articles/machine-learning/how-to-deploy-with-triton.md
  articles/machine-learning/v1/concept-automated-ml.md
  articles/machine-learning/v1/how-to-troubleshoot-auto-ml.md
Labels: do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, automl/subsvc

#132 [custom keyword] Update doc to reflect current training time
  articles/ai-services/speech-service/includes/quickstarts/keyword-recognition/use-speech-studio.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-speech/svc

#193 Fixed python code
  articles/ai-services/speech-service/includes/how-to/recognize-speech-results/python.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-speech/svc

#192 Potential fix to Python code
  articles/ai-services/speech-service/includes/how-to/recognize-speech/python.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-speech/svc

#237 Update search-region-support.md
  articles/search/search-region-support.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#238 Update search-region-support.md
  articles/search/search-region-support.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#241 Update how-to-connection.md
  articles/machine-learning/how-to-connection.md
Labels: do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mldata/subsvc

#240 Fix format on function-calling.md
  articles/ai-services/agents/how-to/tools/function-calling.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-agent-service/svc

#243 Fix typo
  articles/ai-studio/how-to/develop/evaluate-sdk.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-foundry/svc

#245 Add specification of same subnet requirement for AML Registry
  articles/machine-learning/how-to-registry-network-isolation.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#248 Update code-interpreter.md
  articles/ai-services/openai/how-to/code-interpreter.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#249 Removing the mention of "custom skill" mentions from OnYourData documentation
  articles/ai-services/openai/how-to/on-your-data-configuration.md
  articles/ai-services/openai/media/use-your-data/ingestion-architecture.png
Labels: ready-to-merge, needs-human-review, Change sent to author, azure-ai-openai/svc

#250 Fix typo
  articles/machine-learning/how-to-create-component-pipeline-python.md
  articles/machine-learning/reference-automl-images-cli-instance-segmentation.md
  articles/machine-learning/reference-automl-images-cli-multilabel-classification.md
  articles/machine-learning/reference-automl-images-cli-object-detection.md
  articles/machine-learning/v1/azure-machine-learning-release-notes.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#252 Update monitor-openai-reference.md
  articles/ai-services/openai/monitor-openai-reference.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#211 Update how-to-identity-based-service-authentication.md
  articles/machine-learning/how-to-identity-based-service-authentication.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#255 Update monitor-openai-reference.md
  articles/ai-services/openai/monitor-openai-reference.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#254 Update Prerequisites section to reflect the permissions needed to deploy
  articles/ai-services/openai/how-to/azure-developer-cli.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#257 Update index.yml
  articles/ai-studio/index.yml
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-ai-foundry/svc

#219 Correct reference to LlamaIndex in LangChain article
  articles/ai-studio/how-to/develop/langchain.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-studio/svc

#221 Update how-to-manage-compute-instance.md
  articles/machine-learning/how-to-manage-compute-instance.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, compute/subsvc

#222 Update how-to-create-attach-compute-cluster.md
  articles/machine-learning/how-to-create-attach-compute-cluster.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, compute/subsvc

#171 Tidy up superfluous semicolons
  articles/ai-services/anomaly-detector/includes/quickstarts/anomaly-detector-client-library-java-multivariate.md
  articles/ai-services/document-intelligence/how-to-guides/includes/v4-0/java-sdk.md
  articles/ai-services/openai/includes/java.md
  articles/machine-learning/v1/how-to-deploy-pipelines.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#261 Update viseme.md
  articles/ai-services/speech-service/includes/language-support/viseme.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-speech/svc

#258 Update monitor-openai-reference.md
  articles/ai-services/openai/monitor-openai-reference.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#253 Add enterprise support section to serverless finetuning "how-to" doc
  articles/ai-studio/how-to/fine-tune-serverless.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-foundry/svc

#260 Update assistant.md
  articles/ai-services/openai/how-to/assistant.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#262 Added disclaimer about quantization in free services
  articles/search/vector-search-how-to-quantization.md
Labels: do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#266 Update search-sku-tier.md
  articles/search/search-sku-tier.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#268 remove unnecessary trailing comma in JSON
  articles/search/vector-search-how-to-create-index.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-search/svc

#169 Fix for C# example as original did not run
  articles/ai-services/openai/includes/assistants-csharp.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#273 Update fine-tuning.md
  articles/ai-services/openai/how-to/fine-tuning.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-openai/svc

#275 Update Python Code Examples as methods are updated
  articles/ai-services/agents/includes/azure-search/code-examples.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-agent-service/svc
