Repository MicrosoftDocs/azure-ai-docs, pull requests merged in 2025-04, with the labels that each got.

#325 Limitation part about author's permission retention
  articles/machine-learning/how-to-schedule-pipeline-job.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#335 Fix a few typos
  articles/ai-services/language-service/conversational-language-understanding/how-to/view-model-evaluation.md
  articles/ai-services/language-service/custom-named-entity-recognition/faq.md
  articles/ai-services/language-service/custom-named-entity-recognition/how-to/view-model-evaluation.md
  articles/ai-services/language-service/custom-text-classification/how-to/tag-data.md
  articles/ai-services/language-service/orchestration-workflow/how-to/view-model-evaluation.md
  articles/ai-services/language-service/personally-identifiable-information/language-support.md
  articles/ai-services/metrics-advisor/how-tos/configure-metrics.md
  articles/ai-services/openai/concepts/gpt-4-v-prompt-engineering.md
  articles/ai-services/openai/how-to/chat-markup-language.md
  articles/ai-services/openai/includes/chat-completion.md
  articles/ai-services/openai/includes/chatgpt-powershell.md
  articles/ai-services/openai/references/on-your-data.md
  articles/machine-learning/component-reference/train-model.md
  articles/machine-learning/concept-distributed-training.md
  articles/machine-learning/how-to-manage-workspace.md
  articles/machine-learning/how-to-secure-training-vnet.md
  articles/machine-learning/tutorial-create-secure-workspace-vnet.md
Labels: ready-to-merge, needs-human-review, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#259 Update csharp-sdk.md
  articles/ai-services/document-intelligence/quickstarts/includes/csharp-sdk.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-document-intelligence/svc

#337 Fix URL
  articles/ai-foundry/how-to/azure-policy.md
  articles/machine-learning/prompt-flow/how-to-enable-trace-feedback-for-deployment.md
Labels: aq-pr-triaged, ready-to-merge, azure-machine-learning/svc, Change sent to author, prompt-flow/subsvc

#339 [Typo] fix DeepSeek-R1 Input limit
  articles/ai-foundry/model-inference/concepts/models.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-model-inference/svc

#341 Fix typo
  articles/machine-learning/v1/how-to-secure-workspace-vnet.md
Labels: ready-to-merge, azure-machine-learning/svc, Change sent to author, enterprise-readiness/subsvc

#343 Update how-to-troubleshoot-environments.md
  articles/machine-learning/how-to-troubleshoot-environments.md
Labels: ready-to-merge, azure-machine-learning/svc, Change sent to author, mlops/subsvc

#340 Updating the AI Chat Getting Started Guide
  articles/ai-services/openai/includes/chatgpt-spring.md
Labels: aq-pr-triaged, ready-to-merge, needs-human-review, Change sent to author, azure-ai-openai/svc

#318 Update simulator-interaction-data.md to change callback input type
  articles/ai-foundry/how-to/develop/simulator-interaction-data.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-foundry/svc

#344 Update fine-tuning.md
  articles/ai-services/openai/how-to/fine-tuning.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-openai/svc

#345 Update code-interpreter.md
  articles/ai-services/openai/how-to/code-interpreter.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-openai/svc

#346 update amlarc release note
  articles/machine-learning/reference-kubernetes.md
Labels: ready-to-merge, azure-machine-learning/svc, Change sent to author, core/subsvc

#347 Update search-region-support.md
  articles/search/search-region-support.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-search/svc

#350 Fix a few typos
  articles/ai-foundry/how-to/costs-plan-manage.md
  articles/ai-foundry/how-to/develop/evaluate-sdk.md
  articles/ai-foundry/how-to/develop/run-scans-ai-red-teaming-agent.md
  articles/ai-foundry/how-to/develop/visualize-traces.md
  articles/ai-foundry/model-inference/concepts/endpoints.md
  articles/ai-foundry/model-inference/how-to/configure-deployment-policies.md
  articles/ai-foundry/model-inference/includes/use-chat-completions/csharp.md
  articles/ai-services/computer-vision/how-to/model-customization.md
  articles/ai-services/computer-vision/includes/quickstarts-sdk/csharp-sdk.md
  articles/ai-services/content-safety/how-to/containers/text-container.md
  articles/ai-services/immersive-reader/how-to-create-immersive-reader.md
  articles/ai-services/openai/concepts/provisioned-migration.md
  articles/ai-services/speech-service/speech-container-howto-on-premises.md
  articles/ai-services/translator/custom-translator/how-to/copy-model.md
  articles/machine-learning/component-reference/apply-image-transformation.md
  articles/machine-learning/component-reference/score-image-model.md
  articles/machine-learning/how-to-create-component-pipeline-python.md
  articles/machine-learning/how-to-share-data-across-workspaces-with-registries.md
  articles/machine-learning/migrate-to-v2-deploy-pipelines.md
  articles/machine-learning/tutorial-get-started-with-feature-store.md
  articles/machine-learning/v1/how-to-monitor-tensorboard.md
  articles/open-datasets/dataset-tartanair-simulation.md
  articles/search/search-how-to-semantic-chunking.md
Labels: do-not-merge, needs-human-review

#304 Update quickstart-csharp.md
  articles/ai-services/agents/includes/quickstart-csharp.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, azure-ai-agent-service/svc

#351 gpt-4o-transcribe models are not available in other regions
  articles/ai-services/openai/includes/model-matrix/standard-audio.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, azure-ai-openai/svc

#355 Fix typo
  articles/search/vector-search-how-to-generate-embeddings.md
Labels: do-not-merge, Change sent to author, azure-ai-search/svc

#232 Update use-your-own-resources.md
  articles/ai-services/agents/how-to/use-your-own-resources.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-ai-agent-service/svc

#357 fix link to `Embeddings` section
  articles/ai-services/openai/concepts/models.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-ai-openai/svc

#329 Update code-examples.md - Syntax error - missing a comma ,
  articles/ai-services/agents/includes/azure-search/code-examples.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, azure-ai-agent-service/svc

#361 Update dall-e.md
  articles/ai-services/openai/how-to/dall-e.md
Labels: do-not-merge, Change sent to author, azure-ai-openai/svc
